* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

body {
  background: #1d1c1c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  background-image: linear-gradient(#243cad, #12206a);
  box-shadow: inset 0 0 2px 0px black, 0 0 0 1px #4f4860, 0 0 0 2px #d4d0c5,
    0 0 0 3px #4f4860, inset 0 0 2px 4px black;
  font-size: 20px;
  text-align: center;
  color: #fff;
  width: 150px;
  padding: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.conference {
  min-height: 50vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.space {
  width: 80%;
  background-image: linear-gradient(#243cad, #12206a);
  box-shadow: inset 0 0 2px 0px black, 0 0 0 1px #4f4860, 0 0 0 2px #d4d0c5,
    0 0 0 3px #4f4860, inset 0 0 2px 4px black;
  border-radius: 15px;
}

.game {
  min-height: 30vh;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  position: relative;
}

.options {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.question,
.option {
  background-image: linear-gradient(#243cad, #12206a);
  box-shadow: inset 0 0 2px 0px black, 0 0 0 1px #4f4860, 0 0 0 2px #d4d0c5,
    0 0 0 3px #4f4860, inset 0 0 2px 4px black;
  border-radius: 50px;
  padding: 15px;
  color: #fff;
  cursor: pointer;
}

.option::before {
  content: "\00B7";
  color: #fff;
  font-weight: 900;
}

.option:hover {
  background: #f28f04;
  color: black;
}

.option:hover .a::before,
.option:hover .b::before,
.option:hover .c::before,
.option:hover .d::before {
  background: #f28f04;
  color: black;
}

.option .a::before {
  content: "A: ";
  color: #c48f48;
}

.option .b::before {
  content: "B: ";
  color: #c48f48;
}

.option .c::before {
  content: "C: ";
  color: #c48f48;
}

.option .d::before {
  content: "D: ";
  color: #c48f48;
}

.selected {
  background: #f28f04;
  color: black;
}

.selected .a::before,
.selected .b::before,
.selected .c::before,
.selected .d::before {
  color: black;
}

.correct .a::before,
.correct .b::before,
.correct .c::before,
.correct .d::before {
  color: black;
}

.correct {
  background: #51d72b;
  color: black;
}

.wrong {
  background: red;
  color: black;
}

.current {
  background: #f28f04;
  color: black;
}
